
body  {font-size: 11pt;font-family: Arial; margin-top: 0pt; margin-left: 0pt; margin-right:0pt; margin-bottom: 0pt;}
td  {font-size: 11pt;font-family: Arial;}
TD {font-size: 11pt;font-family: Arial;}

.content {margin-left: 10pt; margin-right: 10pt;}

.title {font-size: 15pt; font-family: Arial; font-weight: bold; color: #eee;text-align:left; margin-left: 110pt; padding-top: 10pt;}
.subtitle {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.academicRecord  {font-size: 12pt;font-family: Arial;font-weight: bold; }
.products {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.posts {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.professionalRecord {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.systemAnalysis {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.codingLanguages {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.httpd {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.languages {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.OS {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.DBM {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.booksOnShelf {font-size: 12pt;font-family: Arial;text-align:center;font-weight: bold; }
.data {font-size: 8pt;font-family: Arial; text-align: left; font-weight: bold; color: #999;}
.toLanguages {font-size: 8pt;font-family: Arial; text-align: right; font-weight: bold; color: #999; margin-right: 10pt; margin-top: -12pt;}
.label {font-size: 11pt;font-family: Arial;text-align:center;font-weight: bold; color: #555b73; }
.language {color: #555b73; }
.justified {text-align:justify;}
A { text-decoration: none; color: #555b73; font-weight: bold;}
A:hover {text-decoration: none; color: #6d0019}
.bck_bar .toLanguages A { text-decoration: none; color: #eee; font-weight: bold; text-align: right;}
.bck_bat .toLanguages {font-size: 8pt;font-family: Arial;text-align: right;font-weight: bold; color: #555b73;}

.personalData {margin-left: 100pt; margin-top: 5pt;}
.section {border-bottom: 2px solid #6d0019; width: 100%; text-align: left; vertical-align: bottom; color: #6d0019; margin-bottom: 5pt;}

.bck_bar {
	height: 40pt;
	background: #555b73;
}

.about {padding: 4pt; padding-left: 20pt; vertical-align:top;}
.right { float: right; width: 35%; padding: 5pt;}

.photo {
    max-height: 20pt;
	position: absolute;
	top: 8pt;
    left: 17pt;
}
